@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #11071f;
  overflow-x: hidden;
  position: relative;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.prehvihear {
  font-family: 'Preahvihear', sans-serif;
}

.blur1 {
  height: 700px;
  width: 760px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
  position: absolute;
  top: 20rem;
  right: 6rem;
}

.blur2 {
  height: 600px;
  width: 760px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #512a75 0%,
    rgba(50, 15, 133, 0) 100%
  );
  position: absolute;
  z-index: -2;
}

.workbox {
  background: linear-gradient(
    150deg,
    #130428 37.22%,
    #251043 70.43%,
    #38126d 97.89%,
    #261045 132.38%,
    #190634 150.9%
  );

  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  border-top: 3px solid #763cac;
}

.btn3{
background-color: #2C1250;
border:2px solid #693B93;
width: 119px;
height: 33px;
font-size: 12px;
line-height: 15px;
}

@media (max-width: 1343px) {
  .blur1 {
    width: 500px;
    height: 570px;
    top: 30rem;
    right: 1rem;
  }
}

.btn1 {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(11.575666427612305px);
  width: 200px;
  height: 50px;
  font-size: 17px;
}

.btn2 {
  border-radius: 30px;

  background: linear-gradient(
    107deg,
    #693b93 24.43%,
    rgba(112, 51, 173, 0.37) 68.95%
  );

  box-shadow: 0px 10px 20px 0px rgba(8, 12, 33, 0.15);
  width: 200px;
  height: 50px;
  font-size: 17px;
}

.blured{
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(118, 60, 172, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
  backdrop-filter: blur(10px);
}


.bgs{
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0px 0px 30px 30px;
}

.link{
  padding: 10px;
}

.active{
  background: black;
  color: white;
  padding: 10px;
  border-radius: 50%;
  transition: all;
  animation-duration: 1s;
  animation-delay: 0.1s;
}